@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700');
@font-face {
  font-family: Heading-Pro-Wide;
  src: url('../assets/fonts/Heading-Pro-Wide-Black-trial.ttf');
  src: url('../assets/fonts/Heading-Pro-Wide-Black-trial.ttf') format('truetype'),
}

body {
  background: #48633E;
  color: #FFF382;
}

h1 {
  font-family: Heading-Pro-Wide, sans-serif;
  font-size: 66px;
  user-select: none;
  letter-spacing: 2px;
  color: transparent;
  text-transform: uppercase;
  margin: 0;
}

/* Home View  */

p {
  font-family: 'EB Garamond', 'serif';
  font-weight: 500;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-nav {
  position: relative;
  width: 20vw;
}

.right-container {
  position: relative;
  margin-left: 5vw;
  width: 55vw;
}

.logo-container {
  position: fixed;
  height: auto;
  overflow: auto;
  opacity: 0;
}

.description {
  position: fixed;
  top: 250px;
  width: 20vw;
  opacity: 0;
}

.description p {
  font-size: 18px;
}

p::selection {
  background-color: rgb(242, 114, 114, .38);
}

.first_layer {
  -webkit-text-fill-color: rgb(255, 243, 130, .3);
  -webkit-text-stroke: 2px rgb(255, 243, 130, 1);
}

.second_layer {
  -webkit-text-stroke: 2px rgb(255, 243, 130, .7);
  margin-top: -43px;
}

.third_layer {
  -webkit-text-stroke: 2px rgb(255, 243, 130, .4);
  margin-top: -43px;
}

.fourth_layer {
  -webkit-text-stroke: 2px rgb(255, 243, 130, .1);
  margin-top: -43px;
}

.photo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  margin-bottom: 30px;
}

.photo {
  height: 900px;
  width: 600px;
  background-color: black;
  border: 2px rgb(255, 243, 130, 1) solid;
  cursor: pointer;
  box-shadow: none;
  transition: all .1s ease-in;
}

.photo_hover {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}

.subject-information-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.subject_title {
  width: fit-content;
  margin-top: 300px;
  margin-left: -80px;
  text-transform: uppercase;
  z-index: 1;
  -webkit-text-stroke: 2px rgb(255, 243, 130, 1);
}

.subject_title_hover {
  -webkit-text-fill-color: rgb(255, 243, 130, .3);
  -webkit-text-stroke: 3px rgb(255, 243, 130, 1);
}

.highlight {
  height: 30px;
  width: 0px;
  margin-top: -30px;
  margin-left: -90px;
  background-color: rgb(242, 114, 114, .38);
  transition: all .2s ease-out;
}

.highlight_hover {
  width: 210px;
}

.subject_blurb {
  font-size: 18px;
  width: 175px;
  margin-left: 20px;
}

/* Detailed View */

navbar {
  position: fixed;
  display: flex;
  opacity: 0;
  width: 96%;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  transform: translateY(-100px);
  padding: 0vh 5vh;
}

.back-button {
  width: 80px;
  cursor: pointer;
}

.first_name_layer {
  -webkit-text-fill-color: rgb(255, 243, 130, .3);
  -webkit-text-stroke: 2px rgb(255, 243, 130, 1);
}

.second_name_layer {
  -webkit-text-stroke: 2px rgb(255, 243, 130, .4);
  margin-top: -60px;
}

.third_name_layer {
  -webkit-text-stroke: 2px rgb(255, 243, 130, .1);
  margin-top: -60px;
}

.wide, .large, .medium, .small {
  position: absolute;
  cursor: auto;
}

.wide {
  max-width: 1450px;
  width: 88%;
  height: 900px;
}

.large {
  height: 693px;
  width: 560px;
}

.medium {
  height: 523px;
  width: 420px;
}

.small {
  height: 446px;
  width: 360px;
}

/* Individual Images */

#_1 {
  top: 120px;
  left: 60px;
}

#_2 {
  top: 50px;
  left: 460px;
}

#_3 {
  top: 510px;
  left: 1160px;
}

#_4 {
  top: 1200px;
  left: 130px;  
}

#_5 {
  top: 1150px;
  left: 960px;
}

#_6 {
  top: 1700px;
  left: 800px;
}

#_7 {
  top: 2050px;
  left: 160px;
}

#_8 {
  top: 2500px;
  left: 1120px;
}

#_9 {
  top: 3200px;
  left: 100px;
}

/* Text */

.details {
  position: absolute;
  text-align: left;
  width: 280px;
}

#intro-container {
  right: 10vw;
  width: 280px;
}

.quote {
  text-align: center;
  font-weight: 500;
  font-size: 22px;
}

.qa {
  font-weight: 400;
  font-size: 18px;
}

#_1-text{
  top: 60vh;
  left: 45vw;
}

#_2-text {
  top: 80vh;
  right: 12vw;
}